**Day 2**

Book : 파이썬 머신러닝 판다스 데이터 분석

page : 16 ~ 78

part2.데이터 입출력

1. 외부 파일 읽어오기 - csv, json, excel

2. 웹에서 가져오기 - 표, 웹 스크래핑

3. api - 미 실습(구글 geocoding)

4. 데이터 저장 - csv, json, excel, excel multi sheets

In [66]:
import pandas as pd     #통계 처리용
import numpy as np      #파이썬 기반 수치 해석 라이브러리, 특히 다차원 배열 / 배열 연산 수행(선형대수 연산에 필요)
import matplotlib       #파이썬 기반 2D 시각화 도구(그래프, 차트 등)
import scipy            #과학용 연산에 필요한 패킷 라이브러리(미적분, 선형대수, 행렬, 방정식 계산)
import sklearn          #scikit-learn / 머신러닝 파이썬 라이브러리(회귀분석, 분류, 군집 등 머신러닝 모형 제공)

In [2]:
#p16 / ex. 1-6
df = pd.DataFrame([[15,'Male', '덕영중'], [17, 'Female', '수리중']],
                  index=['준서', '예은'],
                  columns=['나이', '성별', '학교'])

print(df)
print()

df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'}, inplace=True)

df.rename(index={'준서':'학생1', '예은':'학생2'}, inplace=True)

print(df)

    나이      성별   학교
준서  15    Male  덕영중
예은  17  Female  수리중

     연령      남녀   소속
학생1  15    Male  덕영중
학생2  17  Female  수리중

In [11]:
#p18 / ex 1-7

exam_data = {'math' : [90, 80, 70], 'Eng':[98,89,95], 'Music':[85,95,100], 'Exer':[100,90,90]}
 
df = pd.DataFrame(exam_data, index=['seo', 'woo', 'in'])
print(df)
print()

df2=df[:]
df2.drop('woo',axis=0, inplace=True)
print(df2)
print()

df3=df[:]
df3.drop(['woo','in'], axis=0, inplace=True)
print(df3)

     math  Eng  Music  Exer
seo    90   98     85   100
woo    80   89     95    90
in     70   95    100    90

     math  Eng  Music  Exer
seo    90   98     85   100
in     70   95    100    90

     math  Eng  Music  Exer
seo    90   98     85   100

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [4]:
#p20 / ex1-8

exam_data = {'math' : [90, 80, 70], 'Eng' : [98,89,95],
             'Music':[85,95,100], 'Exer' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index=['seo', 'woo', 'in'])
print(df)
print()

df4 = df.copy()
df4.drop('math', axis=1, inplace=True)
print(df4)
print()

df5=df.copy()
df5.drop(['Eng','Music'], axis=1, inplace=True)
print(df5)

     math  Eng  Music  Exer
seo    90   98     85   100
woo    80   89     95    90
in     70   95    100    90

     Eng  Music  Exer
seo   98     85   100
woo   89     95    90
in    95    100    90

     math  Exer
seo    90   100
woo    80    90
in     70    90

In [15]:
#p21 / ex 1-9
exam_data = {'math' : [90, 80, 70], 'Eng' : [98,89,95],
             'Music':[85,95,100], 'Exer' : [100, 90, 90]}
df = pd.DataFrame(exam_data, index=['seo', 'woo', 'in'])
print(df)
print()

label1 = df.loc['seo']
position1 = df.iloc[0]
print(label1)
print()
print(position1)

label2 = df.loc[['seo', 'woo']]
position2 = df.iloc[[0,1]]
print(label2)
print()
print(position2)
print()

label3 = df.loc['seo':'woo']
position3 = df.iloc[0:1]
print(label3)
print()
print(position3)

     math  Eng  Music  Exer
seo    90   98     85   100
woo    80   89     95    90
in     70   95    100    90

math      90
Eng       98
Music     85
Exer     100
Name: seo, dtype: int64

math      90
Eng       98
Music     85
Exer     100
Name: seo, dtype: int64
     math  Eng  Music  Exer
seo    90   98     85   100
woo    80   89     95    90

     math  Eng  Music  Exer
seo    90   98     85   100
woo    80   89     95    90

     math  Eng  Music  Exer
seo    90   98     85   100
woo    80   89     95    90

     math  Eng  Music  Exer
seo    90   98     85   100

In [19]:
#p25 / ex 1-10
exam_data = {'math' : [90, 80, 70], 'Eng' : [98,89,95],
             'Music':[85,95,100], 'Exer' : [100, 90, 90]}
df = pd.DataFrame(exam_data, index=['seo', 'woo', 'in'])
print(df)

print(type(df))
print()

math1 = df['math']
print(math1)
print(type(math1))
print()

english = df.Eng
print(english)
print(type(english))

music_gym = df[['Music', 'Exer']]
print(music_gym)
print(type(music_gym))
print()

math2 = df[['math']]
print(math2)
print(type(math2))

     math  Eng  Music  Exer
seo    90   98     85   100
woo    80   89     95    90
in     70   95    100    90
<class 'pandas.core.frame.DataFrame'>

seo    90
woo    80
in     70
Name: math, dtype: int64
<class 'pandas.core.series.Series'>

seo    98
woo    89
in     95
Name: Eng, dtype: int64
<class 'pandas.core.series.Series'>
     Music  Exer
seo     85   100
woo     95    90
in     100    90
<class 'pandas.core.frame.DataFrame'>

     math
seo    90
woo    80
in     70
<class 'pandas.core.frame.DataFrame'>

In [30]:
#p28 / ex 1-11
exam_data = {'math' : [90, 80, 70],
             'name' :['seo', 'woo', 'in'],
             'Eng' : [98,89,95],
             'Music':[85,95,100], 'Exer' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
df.set_index('name', inplace=True)
print(df)
print()

a = df.loc['seo', 'Music']
print(a)
b=df.iloc[0,2]
print(b)
print()

c=df.loc['seo', ['Music', 'Exer']]
print(c)
d = df.iloc[0, [2,3]]
print(d)
e = df.loc['seo', 'Music':'Exer']
print(e)
f = df.iloc[0, 2:]
print(f)
print()

g = df.loc[['seo', 'woo'], ['Music','Exer']]
print(g)
h = df.iloc[[0,1], [2,3]]
print(h)
i = df.loc['seo':'woo', 'Music':'Exer']
print(i)
j=df.iloc[0:2, 2:]
print(j)

      math  Eng  Music  Exer
name
seo     90   98     85   100
woo     80   89     95    90
in      70   95    100    90

85
85

Music     85
Exer     100
Name: seo, dtype: int64
Music     85
Exer     100
Name: seo, dtype: int64
Music     85
Exer     100
Name: seo, dtype: int64
Music     85
Exer     100
Name: seo, dtype: int64

      Music  Exer
name
seo      85   100
woo      95    90
      Music  Exer
name
seo      85   100
woo      95    90
      Music  Exer
name
seo      85   100
woo      95    90
      Music  Exer
name
seo      85   100
woo      95    90

In [34]:
#p32 / ex 1-12
exam_data = {'name' :['seo', 'woo', 'in'],
             'math' : [90, 80, 70],
             'Eng' : [98,89,95],
             'Music':[85,95,100],
             'Exer' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print()

df['Kor']=80
print(df)

  name  math  Eng  Music  Exer
0  seo    90   98     85   100
1  woo    80   89     95    90
2   in    70   95    100    90

  name  math  Eng  Music  Exer  Kor
0  seo    90   98     85   100   80
1  woo    80   89     95    90   80
2   in    70   95    100    90   80

In [35]:
#p 33 / ex 1-13
exam_data = {'name' :['seo', 'woo', 'in'],
             'math' : [90, 80, 70],
             'Eng' : [98,89,95],
             'Music':[85,95,100], 'Exer' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print()

df.loc[3]=0
print(df)
print()

df.loc[4] = ['dong', 90, 80, 70, 60]
print(df)
print()

df.loc['row5'] = df.loc[3]
print(df)

  name  math  Eng  Music  Exer
0  seo    90   98     85   100
1  woo    80   89     95    90
2   in    70   95    100    90

  name  math  Eng  Music  Exer
0  seo    90   98     85   100
1  woo    80   89     95    90
2   in    70   95    100    90
3    0     0    0      0     0

   name  math  Eng  Music  Exer
0   seo    90   98     85   100
1   woo    80   89     95    90
2    in    70   95    100    90
3     0     0    0      0     0
4  dong    90   80     70    60

      name  math  Eng  Music  Exer
0      seo    90   98     85   100
1      woo    80   89     95    90
2       in    70   95    100    90
3        0     0    0      0     0
4     dong    90   80     70    60
row5     0     0    0      0     0

In [37]:
#p 35 / ex 1-14
exam_data = {'name' :['seo', 'woo', 'in'],
             'math' : [90, 80, 70],
             'Eng' : [98,89,95],
             'Music':[85,95,100], 'Exer' : [100, 90, 90]}
df = pd.DataFrame(exam_data)

df.set_index('name', inplace=True)
print(df)
print()

df.iloc[0][3] = 80
print(df)
print()

df.loc['seo']['Exer'] = 90
print(df)
print()

df.loc['seo', 'Exer'] = 100
print(df)

df.loc['seo', ['Music', 'Exer']] = 50
print(df)
print()

df.loc['seo', ['Music', 'Exer']] = 100, 50
print(df)

      math  Eng  Music  Exer
name
seo     90   98     85   100
woo     80   89     95    90
in      70   95    100    90

      math  Eng  Music  Exer
name
seo     90   98     85    80
woo     80   89     95    90
in      70   95    100    90

      math  Eng  Music  Exer
name
seo     90   98     85    90
woo     80   89     95    90
in      70   95    100    90

      math  Eng  Music  Exer
name
seo     90   98     85   100
woo     80   89     95    90
in      70   95    100    90
      math  Eng  Music  Exer
name
seo     90   98     50    50
woo     80   89     95    90
in      70   95    100    90

      math  Eng  Music  Exer
name
seo     90   98    100    50
woo     80   89     95    90
in      70   95    100    90

In [38]:
#p 38 / ex 1-15

exam_data = {'name' :['seo', 'woo', 'in'],
             'math' : [90, 80, 70],
             'Eng' : [98,89,95],
             'Music':[85,95,100], 'Exer' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print()

df=df.transpose()
print(df)
print()

df=df.T
print(df)

  name  math  Eng  Music  Exer
0  seo    90   98     85   100
1  woo    80   89     95    90
2   in    70   95    100    90

         0    1    2
name   seo  woo   in
math    90   80   70
Eng     98   89   95
Music   85   95  100
Exer   100   90   90

  name math Eng Music Exer
0  seo   90  98    85  100
1  woo   80  89    95   90
2   in   70  95   100   90

In [40]:
exam_data = {'name' :['seo', 'woo', 'in'],
             'math' : [90, 80, 70],
             'Eng' : [98,89,95],
             'Music':[85,95,100], 'Exer' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print()

ndf = df.set_index(['name'])
print(ndf)
print()
ndf2 = ndf.set_index(['Music'])
print(ndf2)
print()
ndf3 = ndf.set_index(['math', 'Music'])
print(ndf3)

  name  math  Eng  Music  Exer
0  seo    90   98     85   100
1  woo    80   89     95    90
2   in    70   95    100    90

      math  Eng  Music  Exer
name
seo     90   98     85   100
woo     80   89     95    90
in      70   95    100    90

       math  Eng  Exer
Music
85       90   98   100
95       80   89    90
100      70   95    90

            Eng  Exer
math Music
90   85      98   100
80   95      89    90
70   100     95    90

In [43]:
#p41 / ex1-17
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df=pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)
print()

new_index=['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf)
print()

new_index=['r0','r1','r2','r3','r4']
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [45]:
#p42 / ex 1-18
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df=pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)
print()

ndf = df.reset_index()
print(ndf)

ndf2= ndf.reset_index()
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15
   level_0 index  c0  c1  c2  c3  c4
0        0    r0   1   4   7  10  13
1        1    r1   2   5   8  11  14
2        2    r2   3   6   9  12  15

In [53]:
#p43 / ex 1-19
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df=pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)
print()

ndf = df.sort_index(ascending = False)
print(ndf)
print()

ndf2 = df.sort_index(ascending=True)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [59]:
#p45 / ex 1-20
dict_data = {'c0':[1,2,3], 'c1':[100,1,10], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df=pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)
print()

ndf = df.sort_values(by = 'c1', ascending = False)
print(ndf)

    c0   c1  c2  c3  c4
r0   1  100   7  10  13
r1   2    1   8  11  14
r2   3   10   9  12  15

    c0   c1  c2  c3  c4
r0   1  100   7  10  13
r2   3   10   9  12  15
r1   2    1   8  11  14

In [55]:
#p46 / ex 1-21
student1 = pd.Series({'Kor':100, 'Eng':80, 'Math':90})
print(student1)
print()

percentage = student1/100

print(percentage)
print()
print(type(percentage))

Kor     100
Eng      80
Math     90
dtype: int64

Kor     1.0
Eng     0.8
Math    0.9
dtype: float64

<class 'pandas.core.series.Series'>

In [62]:
#p47 / ex 1-22
student1 = pd.Series({'Kor':100, 'Eng':80, 'Math':90})
student2 = pd.Series({'Math':80, 'Kor':90, 'Eng':80})
print(student1)
print()
print(student2)
print()

addition = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1/student2
print(type(division))
print()

result = pd.DataFrame([addition, subtraction, multiplication, division], index=['sum', 'diff', 'multi', 'div'])
print(result)

Kor     100
Eng      80
Math     90
dtype: int64

Math    80
Kor     90
Eng     80
dtype: int64

<class 'pandas.core.series.Series'>

          Eng          Kor      Math
sum     160.0   190.000000   170.000
diff      0.0    10.000000    10.000
multi  6400.0  9000.000000  7200.000
div       1.0     1.111111     1.125

In [63]:
#p 49 / ex 1-23
student1 = pd.Series({'Kor':np.nan, 'Eng':80, 'math':90})
student2 = pd.Series({'math':80, 'Kor':90})

print(student1)
print()
print(student2)
print()

addition = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1/student2
print(type(division))
print()

result = pd.DataFrame([addition, subtraction, multiplication, division], index=['sum', 'diff', 'multi', 'div'])
print(result)

Kor      NaN
Eng     80.0
math    90.0
dtype: float64

math    80
Kor     90
dtype: int64

<class 'pandas.core.series.Series'>

       Eng  Kor      math
sum    NaN  NaN   170.000
diff   NaN  NaN    10.000
multi  NaN  NaN  7200.000
div    NaN  NaN     1.125

In [64]:
#p 51 / ex 1-24

student1 = pd.Series({'Kor':np.nan, 'Eng':80, 'math':90})
student2 = pd.Series({'math':80, 'Kor':90})

print(student1)
print()
print(student2)
print()

sr_add = student1.add(student2, fill_value=0)
sr_sub = student1.sub(student2, fill_value=0)
sr_mul = student1.mul(student2, fill_value=0)
sr_div = student1.div(student2, fill_value=0)

result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index=['sum', 'diff', 'multi', 'div'])
print(result)

Kor      NaN
Eng     80.0
math    90.0
dtype: float64

math    80
Kor     90
dtype: int64

        Eng   Kor      math
sum    80.0  90.0   170.000
diff   80.0 -90.0    10.000
multi   0.0   0.0  7200.000
div     inf   0.0     1.125

In [67]:
#p53 / ex 1-25
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]
print(df.head())
print()
print(type(df))
print()

addition=df+10
print(addition.head())
print()
print(type(addition))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

<class 'pandas.core.frame.DataFrame'>

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500

<class 'pandas.core.frame.DataFrame'>

In [69]:
#54 / ex 1-26
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
print(df.tail())
print()
print(type(df))
print()

addition = df +10
print(addition.tail())
print()
print(type(addition))
print()

subtraction = addition -df
print(subtraction.tail())
print()
print(type(subtraction))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75

<class 'pandas.core.frame.DataFrame'>

      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75

<class 'pandas.core.frame.DataFrame'>

      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

<class 'pandas.core.frame.DataFrame'>

**Part 2. 데이터 입출력**

p.58~

In [70]:
#p 60 / ex 2-1
file_path = './read_csv_sample.csv'

df1 = pd.read_csv(file_path)
print(df1)
print()

df2=pd.read_csv(file_path, header=None)
print(df2)
print()

df3 = pd.read_csv(file_path, index_col=None)
print(df3)
print()

df4 = pd.read_csv(file_path, index_col='c0')
print(df4)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

In [72]:
#p63 / ex 2-2

df1 = pd.read_excel('./남북한발전전력량.xlsx', engine = 'openpyxl')
df2 = pd.read_excel('./남북한발전전력량.xlsx', engine = 'openpyxl', header = None)

print(df1)
print()
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]

          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [73]:
#p65 / ex2-3
df = pd.read_json('./read_json_sample.json')
print(df)
print()
print(df.index)

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True

Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

In [75]:
#p 67 / ex 2-4
url = './sample.html'
tables = pd.read_html(url)

print(len(tables))
print()

for i in range(len(tables)):
    print('tables[%s]'%i)
    print(tables[i])
    print()

df= tables[1]

df.set_index(['name'], inplace=True)
print(df)

2

tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9

tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

In [79]:
#p 68 / ex 2-5
from bs4 import BeautifulSoup
import requests
import re

url = 'https://en.wikipedia.org/wiki/List_of_American_exchange-traded_funds'
resp=requests.get(url)
soup = BeautifulSoup(resp.text, 'lxml')
rows = soup.select('div > ul > li')

etfs = {}
for row in rows:
    
    try:
        etf_name = re.findall('^(.*) \(NYSE', row.text)
        etf_market = re.findall('\((.*)\|', row.text)
        etf_ticker = re.findall('NYSE Arca\|(.*)\)', row.text)
        
        if (len(etf_ticker) > 0) & (len(etf_market) > 0) & (len(etf_name) > 0):
            etfs[etf_ticker[0]] = [etf_market[0], etf_name[0]]

    except AttributeError as err:
        pass    

print(etfs)
print()

df = pd.DataFrame(etfs)
print(df)

{}

Empty DataFrame
Columns: []
Index: []

In [82]:
#p74 / ex 2-7

data={'name' : ['Jerry', 'Riah', 'Paul'],
      'algol' : ['A', 'A+', 'B'],
      'basic' : ['C', 'B', 'B+'],
      'C++' : ['B+', 'C', 'C+']}

df = pd.DataFrame(data)
df.set_index('name', inplace=True)
print(df)

df.to_csv('./n_df.sample.csv')

      algol basic C++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [85]:
#76 / ex 2-8

data={'name' : ['Jerry', 'Riah', 'Paul'],
      'algol' : ['A', 'A+', 'B'],
      'basic' : ['C', 'B', 'B+'],
      'C++' : ['B+', 'C', 'C+'],}

df = pd.DataFrame(data)
df.set_index('name', inplace=True)
print(df)

df.to_json('./a_df_sample.json')

      algol basic C++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [86]:
#p77 / ex 2-9
data={'name' : ['Jerry', 'Riah', 'Paul'],
      'algol' : ['A', 'A+', 'B'],
      'basic' : ['C', 'B', 'B+'],
      'C++' : ['B+', 'C', 'C+'],}

df = pd.DataFrame(data)
df.set_index('name', inplace=True)
print(df)

df.to_excel('./n_df_sample.xlsx')

      algol basic C++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [87]:
#p78 / ex 2-10

data1={'name' : ['Jerry', 'Riah', 'Paul'],
      'algol' : ['A', 'A+', 'B'],
      'basic' : ['C', 'B', 'B+'],
      'C++' : ['B+', 'C', 'C+'],}
data2 = {'c0' : [1,2,3],
         'c1' : [4,5,6],
         'c2' : [7,8,9],
         'c3' : [10,11,12],
         'c4' : [13,14,15]}
df1 = pd.DataFrame(data1)
df1.set_index('name', inplace=True)
print(df1)
print()

df2=pd.DataFrame(data2)
df2.set_index('c0', inplace=True)
print(df2)

writer = pd.ExcelWriter('./n_df_excelwriter.xlsx')
df1.to_excel(writer, sheet_name='s1')
df2.to_excel(writer, sheet_name='s2')
writer.save()

      algol basic C++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15