In [8]:
pip install scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)

In [13]:
import pandas as pd     #통계 처리용
import numpy as np      #파이썬 기반 수치 해석 라이브러리, 특히 다차원 배열 / 배열 연산 수행(선형대수 연산에 필요)
import matplotlib       #파이썬 기반 2D 시각화 도구(그래프, 차트 등)
import scipy            #과학용 연산에 필요한 패킷 라이브러리(미적분, 선형대수, 행렬, 방정식 계산)
import sklearn          #scikit-learn / 머신러닝 파이썬 라이브러리(회귀분석, 분류, 군집 등 머신러닝 모형 제공)

In [18]:
#p5 / ex. 1-1
dict_data = {'a':1, 'b':2,'c':3}
sr = pandas.Series(dict_data)
print(type(sr))
print()
print(sr)

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64

In [19]:
#p7 / ex.1-2
# - coding : utf-8

list_data=['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)

idx = sr.index
val = sr.values
print(idx)
print()
print(val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
RangeIndex(start=0, stop=5, step=1)

['2019-01-02' 3.14 'ABC' 100 True]

In [30]:
#p9 / ex 1-3
#tuple -> series

tup_data = ('Jessi', '2010-05-01', 'Female', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)
print()

print(sr[0])
print(sr['이름'])
print()

print(sr[[1,3]])
print()
print(sr[['생년월일', '성별']])
print()

print(sr[1:2])
print()
print(sr['생년월일':'성별'])

이름           Jessi
생년월일    2010-05-01
성별          Female
학생여부          True
dtype: object

Jessi
Jessi

생년월일    2010-05-01
학생여부          True
dtype: object

생년월일    2010-05-01
성별          Female
dtype: object

생년월일    2010-05-01
dtype: object

생년월일    2010-05-01
성별          Female
dtype: object

In [31]:
#p13 / ex 1-4

dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df = pd.DataFrame(dict_data)

print(type(df))
print()
print(df)

<class 'pandas.core.frame.DataFrame'>

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [33]:
#p14 / ex 1-5

df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                  index=['준서', '예은'],
                  columns=['나이', '성별', '학교'])

print(df)
print()
print(df.index)
print()
print(df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

Index(['준서', '예은'], dtype='object')

Index(['나이', '성별', '학교'], dtype='object')

In [34]:
import random

In [37]:
score=[]
names=[]
Subj=['Kor', 'Eng', 'Math']
for i in range(10):
    tmp=[]
    names.append('Stu - {}'.format(i+1))
    for j in range(3):
        val=random.randint(65,100)
        tmp.append(val)
    score.append(tmp)
#print(score)
s = pd.DataFrame(score,index=names,columns=Subj)
print(s)
print()
print(s.index)
print()
print(s.columns)

          Kor  Eng  Math
Stu - 1    89   98    66
Stu - 2    71   87    81
Stu - 3    69   83    75
Stu - 4    67   65    99
Stu - 5    73   81    67
Stu - 6    93   84    76
Stu - 7    76   67    89
Stu - 8    68   92    76
Stu - 9    75   96    73
Stu - 10   89   93    83

Index(['Stu - 1', 'Stu - 2', 'Stu - 3', 'Stu - 4', 'Stu - 5', 'Stu - 6',
       'Stu - 7', 'Stu - 8', 'Stu - 9', 'Stu - 10'],
      dtype='object')

Index(['Kor', 'Eng', 'Math'], dtype='object')